.cardContainer {
  margin: 50px 0px;

  .cardInfected {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  }
  .cardRecovered {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  .cardDeath {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
}
