@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
body {
  background-color: rgb(250, 250, 250);
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img {
  width: 370px;
  margin-top: 20px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .img {
    width: 100%;
  }
}
